@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0050ac;
  --secondary-color: #459deb;
  --terciary-color: #e2eefc;
  --background: #f5f5f5;
  --outline-color: rgba(51, 51, 51, 0.1);
}

.dark {
  --background: #333333;
  --outline-color: rgba(255, 255, 255, 0.1);
}

::selection {
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #191919;
}

.dark ::selection {
  background-color: var(--primary-color);
  color: #F5F5F5;
}

.outline-component {
  outline: 16px solid var(--outline-color);
  border-radius: 16px;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--contrast-color); /* Fundo da barra de rolagem */
  border-radius: 8px;
  margin-top: 0; /* Remover margem do topo, se necessário */
  margin-bottom: 0; /* Remover margem da parte inferior */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}

/* Quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
